<h4 class="ui dividing header">{{ 'mango_sylius.orderMessage.title'|trans }}</h4>
<div class="ui segment">
    {{ form_start(form) }}
    {{ form_row(form.message) }}
    {{ form_widget(form.sendMail) }}
    {{ form_label(form.sendMail) }}
    {{ form_row(form.sendMessage) }}
    {{ form_end(form) }}
</div>
